<p style="color: green"><%= notice %></p>

<h2 >Friends List</h2>
<table id="customers">
<thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th></th>

    </tr>
  </thead>
</table>

<div id="friends">

  
  <% @friends.each do |friend| %>
    <%= render friend %>
  
    
  <% end %>
</div>


<%= link_to "New friend", new_friend_path,class:"btn btn-secondary" %>
